<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matt.suivaa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VisiteActivity"></activity>
        <activity android:name=".CabinetVisiteActivity"></activity>
        <activity android:name=".CabinetSaisieActivity"></activity>
        <activity android:name=".MedecinVisiteActivity"></activity>
        <activity android:name=".MedecinSaisieActivity"></activity>
        <activity android:name=".InformationVisiteActivity"></activity>
    </application>

</manifest>